[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
x509_extensions    = v3_ca
distinguished_name = dn

[ dn ]
C  = LK
ST = Western
L  = Colombo
O  = HealthFirst Local
OU = Development
CN = HealthFirst Local Root CA

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
